.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1em 5em;
  font-size: 0.9em;
}

.header * {
  color: #111;
}

/* .header, .header * {
  box-shadow: 0 0 0 .1em red;
} */
.header__logo {
  cursor: pointer;
}

.header__navToggle {
  font-size: 1.5em;
  cursor: pointer;
}

.header__navToggle--close {
  font-size: 2em;
  align-self: flex-end;
}

.header__navLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1em;
}

.header__navLinks a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  isolation: isolate;
  color: #555;
}

.header__navLinks a:hover {
  color: #000;
}

.header__navLinks a::after,
.header__navLinks a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  bottom: -0.35em;
  transform: scaleX(0);
  transform-origin: left;
  
}

.header__navLinks a::after {
  transition: 
    transform .05s ease
  ;
  left: 0;
  background: rgba(0, 0, 0, 0.454);
  z-index: -1;
  transition:
    transform .2s .25s ease-out
  ;
}

.header__navLinks a::before {
  transition:
    transform .35s ease-out
  ;
  right: 0;
  background: #111;
}

.header__navLinks a:hover::before {
  transition:
    transform .25s .15s ease-out
  ;
  transform-origin: left;
  transform: scaleX(1);
}

.header__navLinks a:hover::after {
  transition:
    transform .25s ease-out
  ;
  transform-origin: left;
  transform: scaleX(1);
}


@media screen and (max-width: 700.5px) {
  .header {
    padding: 1em 2em;
    font-size: clamp(1em, 6vw, 1.1em);
  }

  .header__nav {
    position: absolute;
    background: black;
    padding: 1em 2em 3em;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;

    transition:
      opacity .1s .25s ease,
      transform .5s cubic-bezier(1, 0, 0, 1)
    ;
  }

  .header__nav.active {
    transition:
      opacity .25s ease,
      transform .25s cubic-bezier(1, 0, 0, 1)
    ;
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .header__nav * {
    color: #fff !important;
  }

  .header__navLinks {
    flex-direction: column;
    padding: 10em 2em 1em;
    gap: 2em;
  }
}