
.projectGrid {
  list-style-type: none;
  overflow-x: scroll;
  height: clamp(20em, 40vw, 25em);
  padding: 0;
  margin: 0;
  display: flex;
  padding: 1.5em;
  gap: 1.5em;
  box-shadow: 0 0 1em #000;
}

/* Customize projectGrid's scrollbar like Mac OS
Not supported in Firefox and IE */
.projectGrid::-webkit-scrollbar {
  background-color: rgb(86, 86, 86);
  width: 16px;
  height: 16px;
  z-index: 50;
}

.projectGrid::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

.projectGrid::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
  border-radius:16px;
  border:0px solid rgb(86, 86, 86);
}

.projectGrid::-webkit-scrollbar-button {
  display:none;
}

.projectGrid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.479);
  border:4px solid rgb(86, 86, 86);
}

.projectGrid::-webkit-scrollbar-thumb:hover {
  background-color: #111;
  border:4px solid rgb(86, 86, 86);
}

.projectCard {
  position: relative;
  height: 100%;
  aspect-ratio: 1.75;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .25s ease;
  background-size: cover !important;
  background-position: center !important;
}

.projectCard * {
  background: linear-gradient(
    0deg, rgba(255, 255, 255, 0.8), 
    rgba(213, 213, 213, 0.799)
  );
  background: -webkit-linear-gradient(
    0deg, rgba(255, 255, 255, 0.8),
    rgba(212, 212, 212, 0.799)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectCard::after {
  z-index: -1;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  box-shadow:
  inset 0 24vh 10vh rgba(0, 0, 0, 0.2),
  inset 0 -24vh 10vh rgba(0, 0, 0, 0.5)
  ;
  width: 100%;
  height: 100%;
  transition: .25s ease-in;
}

.projectCard__arrow {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  top: 0.5em;
  right: 0.5em;
  opacity: 0;
  transition: .25s ease-out;
  cursor: pointer;
}

.projectCard__arrow :first-child {
  font-size: 2em;
}

.projectCard__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.projectCard__title h3 {
  font-size: clamp(2em, 4.75vw, 3em);
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(1em);
  transition: .25s ease-out;
}

.projectCard__note {
  padding-inline: 0.75em;
  font-size: clamp(1em, 2vw, 1.25em);
  font-weight: 300;
  opacity: 0;
  transform: translateX(1em);
  transition: .25s ease-out;
}

.projectCard:is(:hover, :focus-within) .projectCard__arrow {
  transition:
    opacity .35s ease-in,
    transform .45s ease-in
  ;
  opacity: 1;
  transform: translateX(0);
}

.projectCard:is(:hover, :focus-within) .projectCard__title h3 {
  transition:
    opacity .35s ease-in,
    transform .45s ease-out
  ;
  transform: translateX(0);
  opacity: 1;
}

.projectCard:is(:hover, :focus-within) .projectCard__note {
  transition:
    opacity .35s  ease-in,
    transform .45s ease-out
  ;
  transform: translateX(0);
  opacity:  1;
}

.projectCard:is(:hover, :focus-within) {
  transform: scale(1.05);
}

.projectCard:is(:hover, :focus-within)::after {
  box-shadow:
  inset 0 30vh 10vh rgba(0, 0, 0, 0.8),
  inset 0 -20vh 10vh rgba(0, 0, 0, 0.7),
  0 0 0 0.1em rgba(255, 255, 255, 0.498)
  ;
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 700px) {
  .projectGrid {
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: visible;
    padding: 0;
    gap: 1.25em;
    height: unset;
    box-shadow: none;
  }

  .projectCard {
    height: unset;
    aspect-ratio: auto;
    background: #111;
    transition: none;
    box-shadow: 0 0 0.5em #000;
    border-radius: 0.25em;
    overflow: hidden;
  }

  .projectCard:hover {
    transform: scale(1);
  }
  
  .projectCard::after {
    display: none;
  }

  .projectCard__image {
    display: flex;
  }

  .projectCard__image img {
    object-fit: contain;
    opacity: 0.9;
  }

  .projectCard__title h3,
  .projectCard__note,
  .projectCard__arrow {
    transform: translateX(0) !important;
    opacity: 1;
  }

  .projectCard__title {
    padding: 0.5em;
  }
  
  .projectCard__title h3, .projectCard__arrow :first-child {
    font-size: clamp(1em, 5vw, 1.75em);
  }

  .projectCard__note {
    padding: 0em 0.5em 0.75em;
    font-size: clamp(1em, 4vw, 1.5em);
  }

  .projectCard__arrow {
    position: static;
  }
}